body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.arrow {
    height: 50px;
    width: 50px;
}

.me {
    height: 80vh;
    /* width: 300px; */
    margin: 0 20px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}